[Unit]
Description={{ container }} Docker Container
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop {{ container }}
ExecStartPre=-/usr/bin/docker rm -f {{ container }}
ExecStartPre=/usr/bin/docker create --name {{ container }} {{ container_args }}

ExecStart=/usr/bin/docker start -a {{ container }}

ExecStop=/usr/bin/docker stop {{ container }}

StandardOutput=null

[Install]
WantedBy=default.target
