{# Create dict_env_var #}
{% set dict_env_var = {} %}
{# Start to populate dict_env_var #}
{% if DEFAULT is defined and DEFAULT is not none %}
  {% for key, value in DEFAULT.items() %}
    {% set test = dict_env_var.update({key: value}) %}
  {% endfor %}
{% endif %}
{####}
{% if ENVIRONMENTS.PROD is defined and ENVIRONMENTS.PROD %}
  {% if PROD is defined and PROD is not none %}
    {% for key, value in PROD.items() %}
{% set test = dict_env_var.update({key: value}) %}
    {% endfor %}
  {% endif %}
{% elif ENVIRONMENTS.DEV is defined and ENVIRONMENTS.DEV %}
  {% if DEV is defined and DEV is not none %}
    {% for key, value in DEV.items() %}
      {% set test = dict_env_var.update({key: value}) %}
    {% endfor %}
  {% endif %}
{% endif%}

{# Generate output based on dict_env_var #}
{% for key, value in dict_env_var.items() %}
{% if value is not none and value != "" %}
{{key}}={% if value==false or value==true%}{{ value | lower}}{% else %}{{ value }}{% endif %}

{% endif %}
{% endfor %}